name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker run --privileged --rm tonistiigi/binfmt --install all
        docker buildx create --use --name multiplatform linux/amd64,linux/arm64
        python docker.py build
        python docker.py build --arm
